# Environment variables
.env
.env.deploy

# Backups
backups/

# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Test coverage
coverage/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# SQLite databases
src/prisma/dev.db
src/prisma/dev.db-journal
src/prisma/data/
*.db-journal

# IDE
.vscode/settings.json
.idea/
env.json
deploy/yandex.cloud/.yc-config
project.tar.gz
bot-src.tar.gz
yoomoney/script2.js
yoomoney/auth.html
yoomoney/script1.js
